<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Document</title>
    
    <!-- <script type="text/javascript" src="../assests/jquery/jquery-3.6.1.js"></script> -->
    <script type="text/javascript" src="../assests/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../assests/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="../assests/jquery/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="../assests/jquery/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="../assests/jquery/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../assests/jquery/jquery-ui.min.js"></script>
    

    <script type="text/javascript" src="../assests/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../assests/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    
    <link rel="stylesheet" href="../assests/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assests/css/main.css">
    <link rel="stylesheet" href="../assests/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="../assests/jquery/jquery-ui.min.css" />
    <link rel="stylesheet" href="../assests/tools/fontawesome6.0.0/css/fontawesome.css">
    <link rel="stylesheet" href="../assests/tools/fontawesome6.0.0/css/brands.css">
    <link rel="stylesheet" href="../assests/tools/fontawesome6.0.0/css/solid.css">
</head>


<!-- <div class="container-fluid m-0 p-0"> -->